html{
  font-family: 'Cairo', sans-serif;
  scroll-behavior: smooth;
}



:root{
  --text-color: antiquewhite;
  --color1: rgb(70, 0, 107);
  --color2: rgb(65, 4, 65);
  --color3: black;
}
body{
  color:var(--text-color);
  height: 100vh;
  margin: 0;
  background: radial-gradient(var(--color1), var(--color2), var(--color3));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
  }
  
header{
  font-size: 36px;
  font-weight: bold;
}
  
#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: var(--text-color);
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

a {
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
}

.dropdown-btn {
  text-decoration: none;
  color: var(--text-color);
  border: none;
  background: none;
  color: var(--text-color);
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
  font-size: 20px;
  font-family: 'Cairo';
  text-align: left;
  padding: 10px 30px;
  cursor: pointer;
}


#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
  font-size: 20px;
}

hr{
  border: 5px solid var(--text-color);
}

.nav-link{
  text-decoration: none;
  color: black;
}

.nav-link:hover{
  color: black;

}

pre {
  background: radial-gradient(rgb(43, 43, 43),black);
  overflow: auto;
  
  font-size: 14px;
  padding: 0 1em;
  width:560; 
  height:315;
}



.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width:50%;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% { transform: translate(0, 0px); }
  50% { transform: translate(0, 10px); }
  100% { transform: translate(0, -0px); }
}

.aesthetic{
  letter-spacing: 10px;
}


#titular{
  font-size: 96px;
}

#corner-logo{
  width:75%;
  height: auto;
  -webkit-filter: invert(1);
  filter: invert(1);
  margin-left: 25px;
  margin-top: 25px;
}


.vexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  -webkit-filter: invert(1);
  filter: invert(1);
}

.left{
  float: left;
  margin: 0 15px 0 0;
}

.right{
  float: right;
  margin: 0 15px 0 0;
}


.perfomer-description img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  height: 100%;
  width: 35%;
}

  canvas {
    display: block;
    position: absolute;
  }
  
  /* Particle container. */
  #particle-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
  }

 /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  padding-left: 25px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.console {
  font-family:'Monaco', monospace;
  width: 700px;
  height: 450px;
  box-sizing: border-box;
  margin: auto;

}

.console header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #555;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #DDD;
}

.console .consolebody {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-sizing: border-box;
  padding: 20px;
  height: calc(100% - 40px);
  overflow: scroll;
  background-color: #000;
  color: antiquewhite;
}

.console .consolebody p {
  line-height: 1.5rem;
}

.performer-container{
  display: inline-block;
  overflow: hidden;
}

@media only screen and (max-width: 815px) {
  /* For mobile phones: */
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }

  #navbar {
    
    position: relative;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }

  #titular{
    margin-top: 200px;
    font-size: 80px;
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width:75%;
  }
  #corner-logo{
    width:50%;
    height: auto;
    -webkit-filter: invert(1);
    filter: invert(1);
    margin-left: auto;
    margin-right: auto;
  }

  .iframeVideo {
    height: 0px;
    padding-top: 25px;
    padding-bottom: 56.2%;
    position: relative;
  }
  .iframeVideo iframe {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .console {
    width: 350px;
    height: 500px;
    font-size: 12px;
  }
}



